*{
    margin: 0;
    padding: 0;
    /* font-family: 'Varela Round', sans-serif; */
}

.title h2{
    color: gold;
}

.res{
    color: gold;
}

.menu {
    position: fixed;
    /* used to hide menu above the screen */
    transform: translateY(-100%);
    /* animation effect */
    transition: transform 0.8s;
    top: 0;
    /* left: 0; */
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
    padding-right: 1rem;
}

.menuItem {
    display: block;
    margin: 2rem 1rem;
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
}

.menuItem:hover {
    text-decoration: underline;
}
.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: none;
    background: none;
    cursor: pointer;
}

.menuIcon{
    font-size: 30px;
}

.closeIcon{
    display: none;
    color: white;
    font-size: 30px;
}

/* added with js */
.showMenu {
    transform: translateY(0);
}


.container1{
    height: 100vh;
    width: 100%;
    margin-bottom: 10px;

}

.img{
    position: relative;
    text-align: center;
    color: white;
}

.banner{
    max-width: 100%;
    max-height: 100%;
}

.name{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: larger;
}

.imgText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: small;
} 





.slider {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.slide {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: absolute;
    transition: all 0.5s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
}

.btn:active {
    transform: scale(1.1);
}

.btn-prev {
    top: 45%;
    left: 2%;
}

.btn-next {
    top: 45%;
    right: 2%;
}







.developer{
    background-color: whitesmoke;margin-left: auto;
}

.skills{
    display: flex;
    justify-content: space-around;
}

.icons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3px;
    height: 20vh;

} 

.topIcons, .bottomIcons {
    display: flex;
    justify-content: space-around;
}


.bounce {
    display: inline-block;
    position: relative;
    animation: bounce 0.5s 5 linear;
}

@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.4em; }
    100% { top: 0; }
} 

.resume{
    height: 150vh;
    padding-top: 20px;
    max-width: 100%;
}

.resumeRight{
    margin-left: auto;
}
/* .resumeleft{
    margin-right: auto;
    padding-right: 10px;
} */

@media screen and (min-width: 400px){
    .resume{
        height: 90vh;
        padding-top: 20px;
    }
}

.resumeItem {
    border-left: 2px solid navy;
    padding: 0 0 15px 15px;
}

.projects{
    height: 80vh;
    padding-top: 20px;
    /* background-color: whitesmoke; */
}

.projects h2{
    color: gold;
}

.tech{
    list-style-type: none;

}
.tech li{
    display: inline;
    padding-left: 10px;
    font-size: small;
}

.contact{
    height: 100vh;
    padding-top: 100px;
}

.contact h2{
    color: gold;
}

.button {
    background-color: dodgerblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

